.text-type {
  display: inline-block;
  white-space: pre-wrap;
  color: white;
}

.text-type__cursor {
  margin-left: 0.1rem;
  display: inline-block;
  opacity: 1;
  font-weight: 100;
  color: white;
}

.text-type__cursor--hidden {
  display: none;
}